/* app.css */
body{
  background-color: #060012;
}

.exploded {
  background:#ff0000;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding-top: 120px;
}

.danger-btn {
  width: 300px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to top, #73200d 0%, #ff2f00 50%, #6f1400 100%);
  color: #ddd6d6;
  border: 3px solid #d7bab2;
  padding: 20px 40px;
  font-size: 60px;
  font-weight: bold;
  box-shadow: 0 20px #2b1e16;
  cursor: pointer;
  transition: all 0.2s ease;
}

.danger-btn:hover {
  background: #f61a1a;
  color: #000000;
  border: 3px solid #bb7e0c;
  box-shadow: 0 20px #530707;
}

.danger-btn:active {
  box-shadow: 0 2px #660000;
  transform: translateY(-8px);
  background-color: #990000;
}

.count-text {
  color: #ff0000;
  padding-top: 40px;
  font-size: 50px;
}

.title-text {
  font-size: 50px;
  font-weight: bold;
  color: rgb(174, 14, 174);
}
